* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}





.row, .row-special {
    width: 100%;
    flex-direction: row;
    display: flex;
    height: calc(100vh / 5);
    background-color: #FFC0CB;

}

[class^="col"] {
    border: solid 1px black;
    display: flex;
    justify-content:center;
    align-items: center;
  }

.col-1 {
    width:calc((100% / 12) *1) ;
    flex-grow: 1;
    flex-basis: calc((100% / 12) *1);

}

.col-12 {
    width: 100%;
}

.col-8 {
    width: calc((100% / 12)*8);
}

.col-2 {
    width: calc((100% / 12)*2);
}

.col-6 {
    width: calc((100% / 12)*6);
    height: 100%;
}

.row-special .col-6 {
    flex-direction: row;
    display: flex;
    padding: 4px;
}

.row-special .col-6 div {
    height: 100%;
}


